@import "./fonts.scss";
@import "./normalize.scss";

@import "./steam/shared_global.scss";
@import "./steam/globalv2.scss";
@import "./steam/button.scss";
@import "./steam/profilev2.scss";
@import "./steam/economy.scss";
@import "./steam/economy_inventory.scss";
@import "./steam/groupadmin.scss";

@import "./steam/addon_tags.scss";
@import "./steam/addon_tags_filter.scss";
@import "./steam/addon_dialog.scss";
@import "./steam/addon_form.scss";

body {
	background: #1b2838;
    text-align: left;
    color: #8F98A0;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.btn_settings {
    float: right;
    margin: 0 16px;
    display: flex;
    height: 32px;
    align-items: center;
    padding: 1px 10px;

    img {
        height: 14px;    
    }
    span {
        margin-left: 5px;
    }
}

.hover_item_sub_name { //copy from .hover_item_name
    color: #D6D6D6;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
}

.inventory_load_error {
    max-width: 1010px;
    margin: 12px auto;

    .inventory_load_error_header {
        display: flex;
        align-items: center;
        .reason {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

#inventory_pagecontrols{
    float: none !important;
    .price_info_loading {
        float: left;
        display: inline-flex;
        margin-right: 20px;
        img {height: 24px;}
    }
    .inventory_pagination {
        float: right;
    }
}
.item_trade_market_info {
    margin-bottom: 10px;
}


.itemHolder {
    $fullHeight: 118px;
    $fullWidth: 98px;

    height: $fullHeight !important;

    .removed-overlay {
        position: absolute;
        z-index: 100;
        width: $fullWidth;
        height: $fullHeight;
        background-color: rgba($color: #000000, $alpha: 0.3);
        font-size: 1.2em;
        text-align: center;
        line-height: 100px;
    }
    .select-overlay{
        position: absolute;
        z-index: 99;
        right: 2px;
        top: 2px;
        text-align: right;
        input {
            width: 20px;
            height: 20px;        
        }
    }

    .item {
        height: ($fullHeight - 2px) !important;
    }
    .item_info {
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        .last24hrs { font-size: .6em; }
        &.amount { font-size: 18px;}
    }
}

.filter_tag_options {
    background: #2D2D2E;
    border: 2px solid #292929;
}
.inventory_loading_indicator .text {
    margin-top: 10px;
    font-size: 1.4em;
}
#mainContents {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 100px;

    #inventories {
        height: 620px;
        .inventory_ctn {
            height: 620px;
            .inventory_page {
                height: 620px;}}}
}
