
<div class="item_desc_content app753 context6" id="iteminfo1_content">
	<div class="item_desc_icon">
		<div class="item_desc_icon_center">
			<img id="iteminfo1_item_icon" src="https://steamcommunity-a.akamaihd.net/economy/image/IzMF03bi9WpSBq-S-ekoE33L-iLqGFHVaU25ZzQNQcXdA3g5gMEPvUZZEaiHLrVJRsl8qmaNVInUlowZlTNMwWoLfnGtii09I_FlLMfDnSv0teqEEnO8aiLQZCbWEFouFO4PYj3UrTSktOmXQzHKFbp-FQwBeaID-jJPPp_bNhs51tJfrTfowxEuR0MqcYtWfgj9yHsBNbg39ygfJMwHlHX0JZCLhls2PUFoWLizU7iXbIj3lnkhCUg2F6cbY4mSunG5_cb5O6aYbaZgcrc6rnmkq-bU/330x192"
			    alt="Nothing but gold (集换式卡牌)" />
		</div>
	</div>
	<div class="item_desc_description">
		<h1 class="hover_item_name" id="iteminfo1_item_name">Nothing but gold (集换式卡牌)</h1>
		<div class="item_desc_game_info" id="iteminfo1_game_info">
			<div class="item_desc_game_icon">
				<img id="iteminfo1_game_icon" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/apps/753/135dc1ac1cd9763dfc8ad52f4e880d2ac058a36c.jpg" alt="Steam" />
			</div>
			<div id="iteminfo1_game_name" class="ellipsis">Steam</div>
			<div id="iteminfo1_item_type" class="">10 Second Ninja X 集换式卡牌</div>
		</div>
		<div class="item_desc_descriptors" id="iteminfo1_item_descriptors"></div>
		<div class="item_actions" id="iteminfo1_item_actions" style="display: none;"></div>
		<div class="item_desc_descriptors" id="iteminfo1_item_owner_descriptors" style="display: none;"></div>
		<div class="item_owner_actions" id="iteminfo1_item_owner_actions">
			<a class="btn_small btn_grey_white_innerfade" href="http://steamcommunity.com/my/gamecards/435790/">
				<span>查看徽章进度</span>
			</a>
		</div>
	</div>
	<div class="item_desc_descriptors" id="iteminfo1_item_tags">
		标签:
		<span class="item_desc_descriptors" id="iteminfo1_item_tags_content">普通, 10 Second Ninja X, 普通, 集换式卡牌, 可交易, 可出售</span>
	</div>
</div>
<div class="item_market_content" id="iteminfo1_scrap_content">
	<div class="item_scrap_actions" id="iteminfo1_item_scrap_actions" style="">
		<div>该物品价值：
			<span class="item_scrap_value" id="iteminfo1_item_scrap_value">2 个宝石</span>
		</div>
		<div>
			<a class="btn_small btn_green_white_innerfade" id="iteminfo1_item_scrap_link" href="javascript:GrindIntoGoo( 435790,6,'5939767953' )">
				<span>合成宝石…</span>
			</a>
		</div>
		<div>此物品可以分解成宝石制作补充包。
			<a href="https://steamcommunity.com//tradingcards/boostercreator/ ">在这里了解详情。</a>
		</div>
	</div>
</div>
<div class="item_market_content" id="iteminfo1_market_content">
	<div class="item_market_actions" id="iteminfo1_item_market_actions" style="">
		<div>
			<div style="height: 24px;">
				<a href="https://steamcommunity.com/market/listings/753/435790-Nothing%20but%20gold%20(Trading%20Card)">在社区市场中查看</a>
			</div>
			<div style="min-height: 3em; margin-left: 1em;">起价： ¥ 0.21
				<br>个数： 在 24 小时内卖出了 2 个
				<br>
			</div>
		</div>
		<a class="item_market_action_button item_market_action_button_green" href="javascript:SellCurrentSelection()">
			<span class="item_market_action_button_edge item_market_action_button_left"></span>
			<span class="item_market_action_button_contents">出售</span>
			<span class="item_market_action_button_edge item_market_action_button_right"></span>
			<span class="item_market_action_button_preload"></span>
		</a>
	</div>
</div>